

<h1 class="table-subtitle subtitle is-4 has-text-centered has-text-white has-background-primary">Servicios</h1>
<%= link_to 'Crear Servicio', new_service_path, class: "button is-primary is-hoverable mr-2 mb-2" %>
<%= turbo_frame_tag :services do %>
  <%= render TableComponent.new(headers: @headers) do |table| %>
    <%= @services.each do |service|%>
      <%= table.row(cells: object_to_table_cells(service, @attrs)) do  |row| %>
        <% row.actions do %>
          <div class="buttons is-pulled-right">
            <%= link_to inline_svg_tag('icons/ico-eye.svg', class: 'icon is-medium has-text-primary'), service,  data:{turbo_frame: "_top"}  %>
            <%#= link_to inline_svg_tag('icons/ico-edit.svg', class: 'icon is-medium has-text-primary mx-3'), edit_service_path(service) %>
            <%= button_to service  ,class: 'btn-icon is-clickable', method: :delete, data: { confirm: 'Are you sure?' }  do  %>
              <%= inline_svg_tag('icons/ico-trash.svg', class: 'icon is-medium has-text-primary is-clickable') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div class="box">
  <%== pagy_bulma_nav(@pagy) %>
  </div>
<% end %>