<div class="tile is-parent is-flex-direction-column">
<p id="notice"><%= notice %></p>
      <h4 class="panel-heading | subtitle is-4 | has-text-centered">
       Servicios
      </h4>


<h4 class="has-background-warning | subtitle is-2 | has-text-centered"><%= @service.name %> </h4>



<div id="todo_items_wrapper">
 <%= render @service.service_items %>
 <div id="form">
  <%= render "service_items/service_item_form" %>
 </div>
</div>


<div class="is-max-width">
  <div class="container">     
    <%= link_to 'Edit', edit_service_path(@service), class: 'button is-small is-primary' %> |
    <%= link_to 'Back', services_path, class: 'button is-small primary-lightest'%>
    <%= link_to  @service do %>
      <div class="card">
        <div class="card-image px-2 py-2">
          <figure class="image is-4by3">
              <% if @service.image.attached? %>
                <%= image_tag(url_for(@service.image)) %>
              <% else %>
              <% end %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= @service.name %></p>
              <p class="subtitle is-6"><%= @service.description %></p>
              <%#= render(PriceTagComponent.new(price: @service.price))%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

</div>