
  <h4 class="has-background-warning | subtitle is-2 | has-text-centered"><%= @service.name %> </h4>
  <%= button_to 'Volver', services_path,method: :get,  class: 'button is-dark  is-hoverable mr-2 mb-2'%>
  <div class="is-fullwidth my-4">
    <%= button_to 'Editar Servicio', edit_service_path(@service),method: :get, class: 'button is-link is-hoverable mr-2 mb-2 is-pulled-right' %>
    <%= button_to "Crear #{@service.name}", new_service_object_path,method: :get, class: "button is-primary is-hoverable mr-2 mb-2 is-pulled-left" %>
  </div>
<div class="is-clearfix"></div>
<hr class="has-background-dark">
  <%= turbo_frame_tag :service_objects, lazy: true, src: service_objects_path %>
    <div class="container my-4">
      <div class="card">
        <div class="card-image px-2 py-2">
          <figure class="image is-4by3">
            <% if @service.image.attached? %>
            <%= image_tag(url_for(@service.image)) %>
            <% else %>
            <% end %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= @service.name %></p>
              <p class="subtitle is-6"><%= @service.description %></p>
              <%#= render(PriceTagComponent.new(price: @service.price))%>
            </div>
          </div>
        </div>
      </div>
    </div>
