<div class=container>
  <%= form_with(model: service_object,  data: {turbo: false}, html: {class: 'box'})  do |form| %>
    <% if service_object.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(service_object.errors.count, "error") %> prohibited this service_object from being saved:</h2>

        <ul>
          <% service_object.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :nombre, class: 'label' %>
      <%= form.text_field :name , class: 'input is-medium'%>
    </div>
    <div class="field">
      <%= form.label :descripcion, class: 'label' %>
      <div class="control">
        <%= form.rich_text_area :description, class: 'input is-medium' %>
      </div>
    </div>
    <div class="field">
      <%= form.label :precio, class: 'label' %>
      <%= form.text_field :price, class: 'input is-medium' %>
    </div>

    <div class="field">
      <%= form.label :posicion, class: 'label' %>
      <%= form.number_field :position, class: 'input is-medium' %>
    </div>
    <div class="field">
      <div class="select">
        <%= form.collection_select(:service_id, Service.all, :id, :name, prompt:'Otros Servicios') %>
      </div>
      <%#= form.label :service_id %>
      <%#= form.text_field :service_id %>
    </div>

    <div class="actions">
      <%= form.submit "Añadir", class: 'button is-primary' %>
    </div>
  <% end %>
</div>