


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_object.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service_object.price %>
</p>

<p>
  <strong>Position:</strong>
  <%= @service_object.position %>
</p>

<p>
  <strong>Service:</strong>
  <%= Service.find(@service_object.service_id).name %>
</p>

<%= link_to 'Edit', edit_service_object_path(@service_object) %> |
<%= link_to 'Back', service_objects_path %>
