
<h1>Quotes</h1>

<%= render partial: 'shared/table_start'%>
<%= link_to 'New Quote', new_quote_path %>
  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
<%= render partial: 'shared/table_end'%>



