<h1 class="table-subtitle subtitle is-4 has-text-centered has-text-white has-background-primary">Opiniones</h1>
<%= button_to 'Scrape', scrape_opinions_path, class: "button is-success is-hoverable   mb-2" %>
<div class="clearfix"></div>
<%= turbo_frame_tag :opinions do %>
  <%= render TableComponent.new(headers: @headers) do |table| %>
    <%= @opinions.each do |opinion|%>
      <%= table.row(cells: object_to_table_cells(opinion, @attrs)) do  |row| %>
        <% row.actions do %>
          <div class="buttons is-justify-content-center">
            <% if current_user.is_admin? %>
              <%= link_to inline_svg_tag('icons/ico-eye.svg', class: ' icon is-medium has-text-primary'), opinion,  data:{turbo_frame: "_top"}, class: 'button is-clickable' %>
              <%= link_to inline_svg_tag('icons/ico-edit.svg', class: ' icon is-medium has-text-primary'), edit_opinion_path(opinion),  data:{turbo_frame: "_top"}, class: 'button is-clickable' %>
              <%= button_to opinion , method: :delete,data: { controller: "swal", action: "click->swal#fire", swal_options_value: default_swal_options, turbo_frame: "_top" }, class: 'button is-clickable' do  %>
                <%= inline_svg_tag('icons/ico-trash.svg', class: 'icon is-medium has-text-primary is-clickable') %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>