
<div class="column is-6-tablet is-3-widescreen is-3-fullhd is-3-half-desktop is-12-mobile ">
  <div class="cards is-clickable">
      <div class="card-image">
        <figure class="image is-4by3">
          <% if @albums.galleries.present? && @albums.galleries.first.images.attached? %>
            <%= image_tag url_for( @albums.galleries.first.images.first), data: {src: "#{rails_blob_url(@albums.galleries.first.images.first)}"}%>
          <% end %>
        </figure>
      </div>
      <div class="gallery-content">
        <div class="media is-vcentered">
          <div class="media-content  ">
            <p class="title is-size-4 is-size-5-touch has-text-white | mt-3 | album"><%= "#{@albums.title}" %></p>
            <p class="subtitle is-size-4 is-size-6-touch has-text-white | album"><time datetime="<%= @albums.date_event.strftime("%d-%m-%Y") if @albums.date_event.present? %>"><%= @albums.date_event.strftime("%d-%m-%Y") if @albums.date_event.present?%></time></p>
            <%= form_tag galeria_path(@albums), method: :get do %>
              <div class="field has-addons is-justify-content-center">
                <div class="control">
                  <%= text_field_tag :password, params[:password], class: 'input' %>
                </div>
                <div class="control">
                  <%= submit_tag :ver, :name => nil, class: 'button' %>
                </div>
              </div>
            <% end %>  
          </div>
        </div>
      </div>
  </div>
</div>
