
<div class="notification notifications">
  <div class="notifications__item <%= @color_class %>" data-controller="notification">
    <span class="notifications_item-icon <%= @color_class %>">
      <i class="fas <%= @icon_class %>"></i>
    </span>
    <span class="has-text-dark"><%= @data[:title] %></span>
    <span>         
      <% if @data[:body].present? %>
        <p class="mt-1 ">
          <%= @data[:body] %>
        </p>
      <% end %>
    </span>
    <button class="delete" data-action="click->notification#close"></button>
  </div>
</div>

