<div class="box">
  <table class="table is-striped is-hoverable is-sortable is-fullwidth">
    <%= link_to 'Nuevo banner', new_home_banner_path, class: "button is-primary is-hoverable" %>
    <thead>
      <tr>
        <th class="title is-5 has-text-centered">Titulo</th>
        <th class="title is-5 has-text-centered">Contenido</th>
        <th class="title is-5 has-text-centered">Visible</th>
        <th class="title is-5 has-text-centered">Parallax</th>
        <th class="title is-5 has-text-centered">Imagen</th>
        <th class="title is-5 has-text-right">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @home_banners.each do |home_banner| %>
        <tr>
          <td class=""> <%= home_banner.title %></td>
          <td class=""><%= home_banner.body %></td>
          <td class="has-text-centered" > <strong><%= home_banner.visible? ? 'Si' : 'No' %></strong></td>
          <td class="has-text-centered"> <strong><%= home_banner.parallax? ? 'Activado' : 'Desactivado' %></strong></td>
          <td class="" > 
            <% if home_banner.image.attached? %>
              <%= image_tag url_for( home_banner.image), data: {src: "#{rails_blob_url(home_banner.image)}"}, width: '100' %>
            <% end %>
          </td>
          <td class="has-text-right is-centered is-vcentered">
              <%= link_to inline_svg_tag('icons/ico-eye.svg'), home_banner, class: 'icon' %> |
              <%= link_to inline_svg_tag('icons/ico-edit.svg'), edit_home_banner_path(home_banner), class: 'icon' %> |
              <%= link_to inline_svg_tag('icons/ico-trash.svg'), home_banner, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bulma_nav(@pagy) if @pagy.present? %>
</div>