<% @users.each do |user| %>
  <tr>
    <td class="is-image-cell">
      <div class="image is-32x32">
        <div style="width:32px;height:32px;border-radius:50px;background:red;position:relative;">
          <div class="has-text-white is-size-5" style="position:absolute;left:10px;bottom:10px">
            <%=  user.name.to_s[0] %>
          </div>
        </div>
        <!-- <img src="https://avatars.dicebear.com/v2/initials/rebecca-bauch.svg" class="is-rounded"> -->
      </div>
    </td>        
    <td data-label="Name"><%= user.name %></td>
    <td data-label="Name"><%= user.last_name %></td>
    <td data-label="Name"><%= user.phone %></td>
    <td data-label="Email"><%= user.email %></td>
    <td data-label="Created_at"><%= user.created_at %></td>
    <td  data-label="Role">  <%= user.role %> </td>
    <td></td>
  </tr>
<% end %>