      <h4 class="panel-heading | subtitle is-4 | has-text-centered">
       Usuarios 
      </h4>
      <div class="box">
  <%= form_tag users_path, method: :get, class: 'is-pulled-right' do %>
    <div class="field has-addons " >
      <div class="control">
        <%= text_field_tag :search, params[:search], class: 'input is-medium' %>
      </div>
      <div class="control">
        <%= submit_tag :buscar, :name => nil, class: 'button is-medium is-primary' %>
      </div>
    </div>
  <% end %>
</div>

<div class="card has-table">
  <header class="card-header">
    <p class="card-header-title">
    </p>
    <a href="#" class="card-header-icon">
      <span class="icon"><i class="mdi mdi-reload"></i></span>
    </a>
  </header>
  <div class="card-content">
    <div class="b-table has-pagination">
      <div class="table-wrapper has-mobile-cards">
        <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
          <thead>
          <tr>
            <th></th>
            <th class="title is-5"> <%= link_to 'Nombre', sort: :name %> </th>
            <th class="title is-5"><%= link_to 'Apellido', sort: :last_name %></th>
            <th class="title is-5">Telefono</th>
            <th class="title is-5">Email</th>
            <th class="title is-5">Registro</th>
            <th class="title is-5"><%= link_to 'Rol', sort: :role %></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <div data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
              <div data-target="infinite-scroll.users">
                <%= render 'users' %>
              </div>
            </div>
          </tbody>
        </table>
      </div>
      <div class="" data-target="infinite-scroll.pagination">
        <%== pagy_bulma_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>