<div class="box">
  <%= form_tag email_contacto_path, method: :get, class: 'is-flex is-justify-content-flex-end' do %>
    <div class="field has-addons " >
      <div class="control">
        <%= text_field_tag :name, params[:name], class: 'input is-medium' %>
      </div>
      <div class="control">
        <%= submit_tag :buscar, :name => nil, class: 'button is-medium is-primary' %>
      </div>
    </div>
  <% end %>
</div>

<div class="is-clearfix"></div>

<%= turbo_frame_tag :users do %>
  <h1 class="table-subtitle subtitle is-4 has-text-centered has-text-white has-background-primary">Emails</h1>
  <%= render TableComponent.new(headers: @headers) do |table| %>
    <%= @contacts.each do |contact|%>
      <%= table.row(cells: object_to_table_cells(contact, @attrs)) do  |row| %>
        <% row.actions do %>
          <div class="buttons is-centered">
            <%#= link_to inline_svg_tag('icons/ico-eye.svg', class: 'icon is-medium has-text-primary'), root_path,  data:{turbo_frame: "_top"}  %>
            <%#= link_to inline_svg_tag('recortes/ico-edit.svg', class: 'icon is-medium has-text-primary mx-3'), edit_account_path(invited) %>
            <%#= button_to contacts_path ,class: 'btn-icon is-clickable', method: :delete, data: { confirm: 'Are you sure?' }  do  %>
              <%#= inline_svg_tag('icons/ico-trash.svg', class: 'icon is-medium has-text-primary is-clickable') %>
            <%# end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div class="box">
  <%== pagy_bulma_nav(@pagy) %>
  </div>
<% end %>