    <section class="hero " id="contact-us">
      <div class="hero-body">
        <div class="container">
          <div class="container my-5 mt-5 mx-5 px-5">
            <!-- form desktop -->
            <%= form_with(model: @contact, local: true, html: {class: 'box has-background-white-ter is-hidden-touch'}) do |form| %>
              <% if @contact.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this opinion from being saved:</h2>
                  <ul>
                    <% @contact.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="field is-horizontal">
                <div class="field-body is-flex is-justify-content-space-between">
                  <div class="field">
                    <%= form.label 'Nombre', class:'label is-size-4 has-text-weight-light' %> 
                    <div class="control has-icons-left">
                      <%= form.text_field :name, class: 'input', placeholder: 'Nombre' %>
                        <%= inline_svg_tag('icons/ico-users.svg', class:"icon is-left pl-2")%>
                    </div>
                  </div>
                  <div class="field">
                    <%= form.label 'Email', class:'label is-size-4 has-text-weight-light' %>
                    <div class="control has-icons-left">
                      <%= form.text_field :email, class: 'input', placeholder: 'Email' %>
                        <%=inline_svg_tag('icons/ico-at-symbol.svg', class:"icon is-left pl-2")%>
                    </div>
                  </div>
                  <div class="field">
                    <%= form.label 'Teléfono', class:'label is-size-4 has-text-weight-light' %>
                    <div class="control has-icons-left">
                      <%= form.text_field :phone, class: 'input', placeholder: 'Teléfono' %>
                        <%=inline_svg_tag('icons/ico-phone.svg', class:"icon is-left pl-2")%>
  
                    </div>
                  </div>
                </div>
              </div>
                <!--TODO: configurar estos campos-->
                <div class="field is-horizontal">
                  <div class="field-body is-flex is-justify-content-space-between">
                    <div class="field">
                      <%= form.label 'Cabinas', class:'label is-size-4 has-text-weight-light' %>
                      <div class="control is-expanded">
                        <div class="select is-fullwidth">
                          <%= form.collection_select(:service_name, ServiceItem.where(service_id: 1 ).all, :name, :name, prompt:'Cabinas') %>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <%= form.label 'Fecha del evento', class:'label is-size-4 has-text-weight-light' %>
                      <div class="control has-icons-left">
                        <%= form.text_field :date_event, class: 'input',placeholder: Time.now.strftime('%Y-%m-%d'), data: { controller: "flatpickr" } %>
                          <%=inline_svg_tag('icons/ico-calendar.svg', class:"icon is-left pl-2")%>
                      </div>
                    </div>
                    <div class="field">
                      <%= form.label 'Restaurante', class:'label is-size-4 has-text-weight-light' %>
                      <div class="control has-icons-left">
                        <%= form.text_field :restaurant_name, class: 'input', placeholder: 'restaurante' %>
                          <%=inline_svg_tag('icons/ico-location.svg', class:"icon is-left pl-2")%>
                      </div>
                    </div>
                    <div class="field">
                      <%= form.label 'Más Servicios', class:'label is-size-4 has-text-weight-light' %>
                      <div class="control is-expanded">
                        <div class="select is-fullwidth">
                          <%= form.collection_select(:additional_services, Service.all, :name, :name, prompt:'Otros Servicios') %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="field"> 
                <%= form.label 'Asunto', class:'label is-size-4 has-text-weight-light' %>
                <div class="control has-icons-left">
                  <%= form.text_field :title, class: 'input', placeholder: 'asunto' %>
                    <%=inline_svg_tag('icons/ico-comment-solid.svg', class:"icon is-left pl-2")%>
                </div>
                <%= form.label 'Mensaje', class:'label is-size-4 has-text-weight-light' %>
                <div class="control has-icons-left">
                  <%= form.text_area :body, class: 'textarea', placeholder: 'mensaje' %>
                </div>
                <%= form.label 'Donde nos conociste', class:'label is-size-4 has-text-weight-light' %>
                <div class="control has-icons-left">                
                  <%= form.text_field :observations_info, class: 'input', placeholder: 'Donde nos conociste' %>
                    <%=inline_svg_tag('icons/ico-location.svg', class:"icon is-left pl-2")%>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <%= form.submit :enviar, class: 'button is-primary' %>
                </div>
              </div>
            <% end %>
          </div>
          <h4 class="subtitle is-size-4 is-size-4-mobile has-text-centered">Para cualquier consulta nos puedes encontrar en: <%= WebConfig.first.contact_phone if WebConfig.first.contact_phone.present? %> y también en <%= WebConfig.first.global_email if WebConfig.first.global_email.present? %></h4>
          <div class="container my-5 mt-5 mx-5 px-5 columns box is-justify-content-center has-background-white-ter">
            <div class="column is-6 is-vcentered">
              <div class="direccion">
                <h3 class="subtitle is-size-3 is-size-4-mobile has-text-centered"> <%= "#{WebConfig.first.adress_line_one}, #{WebConfig.first.postal_code}, #{WebConfig.first.location}"%></h3>
              </div>
              <h2  class="subtitle is-size-4 is-size-4-mobile has-text-centered">O contacta con nosotros a través de nuestras redes sociales</h2>
              <div class="social-media is-flex  is-justify-content-center">
                <%= link_to ("https://api.whatsapp.com/send?phone=#{WebConfig.first.contact_phone}" if WebConfig.first.contact_phone.present?), class: 'mr-3' do %>    
                  <figure class="icon is-medium has-text-primary">
                    <%=inline_svg_tag('icons/ico-whatsapp.svg')%>
                  </figure>
                <% end %>   
                <%= render(SocialLinkComponent.new(href: WebConfig.first.url_facebook, name: 'facebook',ico: 'ico-facebook.svg'))%>
                <%= render(SocialLinkComponent.new(href: WebConfig.first.url_instagram, name: 'instagram',ico: 'ico-instagram.svg'))%>
                <%= render(SocialLinkComponent.new(href: WebConfig.first.url_twitter, name: 'tiwtter',ico: 'ico-twitter.svg'))%>
                <%= render(SocialLinkComponent.new(href: WebConfig.first.url_pinterest, name: 'pinterest',ico: 'ico-pinterest.svg'))%>
                <%= render(SocialLinkComponent.new(href: WebConfig.first.url_bodas_net, name: 'bodas_net',ico: 'ico-bodasnet.svg'))%>
              </div>               
            </div> 
          </div>
        </div>
      </div>
    </section>
    <!-- ! form mobile -->
    <div class="column is-12 is-hidden-desktop"> 
      <%= form_with(model: @contact, local: true, html: {class: 'box has-background-white-ter is-hidden-desktop'}) do |form| %>
        <% if @contact.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this opinion from being saved:</h2>
            <ul>
              <% @contact.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= form.label 'Nombre', class:'label is-size-4 has-text-weight-light' %> 
          <div class="control has-icons-left">
            <%= form.text_field :name, class: 'input', placeholder: 'Nombre' %>
              <%= inline_svg_tag('icons/ico-users.svg', class:"icon is-left pl-2")%>
          </div>
        </div>
        <div class="field">
          <%= form.label 'Email', class:'label is-size-4 has-text-weight-light' %>
          <div class="control has-icons-left">
            <%= form.text_field :email, class: 'input', placeholder: 'Email' %>
              <%=inline_svg_tag('icons/ico-at-symbol.svg', class:"icon is-left pl-2")%>
          </div>
        </div>
        <div class="field">
          <%= form.label 'Teléfono', class:'label is-size-4 has-text-weight-light' %>
          <div class="control has-icons-left">
            <%= form.text_field :phone, class: 'input', placeholder: 'Teléfono' %>
            <%=inline_svg_tag('icons/ico-phone.svg', class:"icon is-left pl-2")%>
          </div>
        </div>
        <div class="field">
          <%= form.label 'Cabinas', class:'label is-size-4 has-text-weight-light' %>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <%= form.collection_select(:service_name, ServiceItem.where(service_id: 1 ).all, :name, :name, prompt:'Cabinas') %>
            </div>
          </div>
        </div>
        <div class="field">
          <%= form.label 'Fecha del evento', class:'label is-size-4 has-text-weight-light' %>
          <div class="control has-icons-left">
            <%= form.text_field :date_event, class: 'input',placeholder: Time.now.strftime('%Y-%m-%d'), data: { controller: "flatpickr" } %>
              <%=inline_svg_tag('icons/ico-calendar.svg', class:"icon is-left pl-2")%>
          </div>
        </div>
        <div class="field">
          <%= form.label 'Restaurante', class:'label is-size-4 has-text-weight-light' %>
          <div class="control has-icons-left">
            <%= form.text_field :restaurant_name, class: 'input', placeholder: 'restaurante' %>
              <%=inline_svg_tag('icons/ico-location.svg', class:"icon is-left pl-2")%>
          </div>
        </div>
        <div class="field">
          <%= form.label 'Más Servicios', class:'label is-size-4 has-text-weight-light' %>
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <%= form.collection_select(:additional_services, Service.all, :name, :name, prompt:'Otros Servicios') %>
            </div>
          </div>
        </div>
        <div class="field"> 
          <%= form.label 'Asunto', class:'label is-size-4 has-text-weight-light' %>
          <div class="control has-icons-left">
            <%= form.text_field :title, class: 'input', placeholder: 'asunto' %>
              <%=inline_svg_tag('icons/ico-comment-solid.svg', class:"icon is-left pl-2")%>
          </div>
          <%= form.label 'Mensaje', class:'label is-size-4 has-text-weight-light' %>
          <div class="control has-icons-left">
            <%= form.text_area :body, class: 'textarea', placeholder: 'mensaje' %>
          </div>
          <%= form.label 'Donde nos conociste', class:'label is-size-4 has-text-weight-light' %>
          <div class="control has-icons-left">                
            <%= form.text_field :observations_info, class: 'input', placeholder: 'Donde nos conociste' %>
              <%=inline_svg_tag('icons/ico-location.svg', class:"icon is-left pl-2")%>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= form.submit :enviar, class: 'button is-primary' %>
          </div>
        </div>
      <% end %>
    </div>

