



<div class="container is-fluid is-mobile my-6">
  <h1 class="title is-1 has-text-centered py-6"> <%= @album.title %></h1>
  <nav class="level is-mobile column-mobile">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <% if can? :create, Album %> 
          <%= link_to 'Editar', edit_album_path(@album), class: 'button is-primary is-hovered is-medium' %>   
        <% end %>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <h3 class='subtitle'><%= Gallery.where(album_id: @album).first.images.length  %> fotos</h3>
    </div>
    <% if 1 == 0 %>    
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Visistas</p>
          <p class="title">456K</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">galerias</p>
          <p class="title"><%= @album.galleries.count%></p>
        </div>
      </div>
    <% end %>
    <!-- Right side -->
    <div class="level-right">
      <div class="level-item">
        <%= link_to 'Volver', albums_path, class: 'button is-link is-hovered is-medium' %>
      </div>
    </div>
  </nav>
</div>




<div class="container my-3">  
  <%= render 'galleries/form' %>  
  
  <div class="is-hidden-tablet">
    <%== pagy_bulma_nav(@pagy)%> 
  </div>
  <div class="columns is-multiline">
    <% @gallery.each do |imagen| %>
      <div class="column is-3-desktop is-6-tablet is-12-mobile">
        <div class="images">
          <%=link_to image_tag(url_for(imagen)), url_for(imagen), data: {src: "#{rails_blob_url(imagen)}"}, target:"_blank", class:"col-light is-5by3"%>
        </div>
      </div>
    <% end %>
  </div>
  <%== pagy_bulma_nav(@pagy)%> 
</div>






