

<h3 class="subtitle is-4 has-text-centered">Añadir <%= @service.name %></h3>

<div class=container>
  <div class=columns is-vcentered>
    <div class=column>
      <%= form_for([@service, @service.service_items.build]) do |form| %>

        <div class="field">
          <%= form.label :titulo, class: 'label' %>
          <div class="control">
            <%= form.text_field :name, class: 'input is-medium' %>
          </div>
        </div>
        <div class="field">
          <%= form.label :titulo, class: 'label' %>
          <div class="control">
            <%= form.rich_text_area :body, class: 'input is-medium' %>
          </div>
        </div>
        <div class="field">
          <%= form.label :imagen, class: 'label' %>
          <div class="control">
            <%= form.file_field :images, multiple: true, direct_upload: true, class: 'input is medium' %>
          </div>
        </div>
                
        <div class="actions control">
          <%= form.submit 'añadir item', class: 'button is-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>