<h2 class="title is-2"><%= t "devise.invitations.new.header" %></h2>

<div class=container>
  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, class:'box' }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <% resource.class.invite_key_fields.each do |field| %>
      <div class="field">
        <%= f.label field, class: 'label' %>
        <div class="control">
          <%= f.text_field field, class: 'input is-medium' %>
        </div>
      </div>
    <% end -%>

    <div class="actions control">
      <%= f.submit t("devise.invitations.new.submit_button") , class: 'button is-link' %>
    </div>
  <% end %>
</div>
