  <h1 class="table-subtitle subtitle is-4 has-text-centered has-text-white has-background-primary">Quiene Somos</h1>
    <%= link_to 'Crear sección', new_about_path, class: "button is-primary is-hoverable mb-2" %>
<%= turbo_frame_tag :users do %>
  <%= render TableComponent.new(headers: @headers) do |table| %>
    <%= @abouts.each do |about|%>
      <%= table.row(cells: object_to_table_cells(about, @attrs)) do  |row| %>
        <% row.actions do %>
          <div class="buttons is-pulled-right">
            <%= link_to inline_svg_tag('icons/ico-eye.svg', class: 'icon is-medium has-text-primary'), about,  data:{turbo_frame: "_top"}  if current_user.is_admin?  %>
            <%= link_to inline_svg_tag('icons/ico-edit.svg', class: 'icon is-medium has-text-primary mx-3'), edit_about_path(about), data:{turbo_frame: "_top"} if current_user.is_admin? %>
            <%= button_to about ,class: 'btn-icon is-clickable', method: :delete, data: { confirm: 'Are you sure?' }   do  %>
              <%= inline_svg_tag('icons/ico-trash.svg', class: 'icon is-medium has-text-primary is-clickable') %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>