  <h1 class="table-subtitle subtitle is-4 has-text-centered has-text-white has-background-primary">Quiene Somos</h1>
    <%= link_to 'Crear sección', new_about_path, class: "button is-primary is-hoverable mb-2" %>
<%= turbo_frame_tag :users do %>
  <%= render TableComponent.new(headers: @headers) do |table| %>
    <%= @abouts.each do |about|%>
      <%= table.row(cells: object_to_table_cells(about, @attrs)) do  |row| %>
        <% row.actions do %>
          <div class="buttons is-justify-content-center">
            <% if current_user.is_admin? %>
              <%= link_to inline_svg_tag('icons/ico-eye.svg', class: ' icon is-medium has-text-primary'), about,  data:{turbo_frame: "_top"}, class: 'button is-clickable' %>
              <%= link_to inline_svg_tag('icons/ico-edit.svg', class: ' icon is-medium has-text-primary'), edit_about_path(about),  data:{turbo_frame: "_top"}, class: 'button is-clickable' %>
              <%= button_to about , method: :delete,data: { controller: "swal", action: "click->swal#fire", swal_options_value: default_swal_options,turbo_frame: "_top" }, class: 'button is-clickable' do  %>
                <%= inline_svg_tag('icons/ico-trash.svg', class: 'icon is-medium has-text-primary is-clickable') %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>