
  <aside class="sidebar" id="main-menu">
    <div class="has-background-white has-text-centered pt-2 pb-2">
      <%= link_to inline_svg_tag("recortes/logo.svg", size: "50"), root_path %>              
    </div>


    <nav class="vertical" data-controller="menu">

      <div class="menu is-menu-main">
        <ul class="menu-list">
          
            <div class="menu-item-label panel-block is-justify-content-space-between">
            </div>
            <a class="has-icon has-dropdown-icon">
              <span class="icon is-medium icon is-medium panel-icon has-text-info is-pulled-left"><%= inline_svg_tag('recortes/ico-home-solid.svg', class: 'icon is-16x16') %></span>
              <span class="menu-item-label  panel-block dropdown has-text-white is-size-6">Home</span>
              <% if 1== 0 %>
                <div class="dropdown-icon">
                  <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= inline_svg_tag('recortes/ico-home-solid.svg', class: 'icon is-16x16') %></span>
                </div>
              <% end %>
            </a>            
          <li>
            <div class="panel-block is-justify-content-space-between">
              <%= link_to 'Banners Inicio', home_banners_path , class: 'has-text-white is-size-6' %>
              <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= inline_svg_tag('recortes/ico-images.svg', class: 'icon is-16x16') %></span>
            </div>
          </li>
          <% if 1 == 0 %>
            <li>
              <div class="menu-item-label panel-block is-justify-content-space-between">
                <%= link_to quotes_path do %>
                <span class="mr-5 has-text-white is-size-6">Quotes</span>
                <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-comment-solid.svg', class: 'icon is-16x16') %></span>
                <% end %>
              </div>
            </li>              
          <% end %>
          <li>
            <div class="panel-block is-justify-content-space-between">
              <%= link_to 'Premios', awards_path,  class: 'has-text-white is-size-6' %>
              <%= inline_svg_tag('recortes/ico-award-solid.svg', class: 'icon is-medium panel-icon has-text-info') %>
            </div>
          </li>
          <li>
            <div class="panel-block is-justify-content-space-between">
              <%= link_to 'Opiniones', opinions_path,  class: 'has-text-white is-size-6' %>
              <%= inline_svg_tag('recortes/ico-comment-solid.svg', class: 'icon is-medium panel-icon has-text-info') %>
            </div>
          </li>
          <li>
            <div class="panel-block is-justify-content-space-between">
              <%= link_to 'Galerías', albums_path,  class: 'has-text-white is-size-6' %>
              <%= inline_svg_tag('recortes/ico-images.svg', class: 'icon is-medium panel-icon has-text-info') %>
            </div>
          </li>
          <li>
            <div class="panel-block is-justify-content-space-between">
              <%= link_to 'Servicios', services_path,  class: 'has-text-white is-size-6' %>
              <%= inline_svg_tag('recortes/ico-edit.svg', class: 'icon is-medium panel-icon has-text-info') %>
            </div>
          </li>
          <li>
            <div class="panel-block is-justify-content-space-between">
              <%= link_to 'Sobre nosotros', abouts_path,  class: 'has-text-white is-size-6' %>
              <%= inline_svg_tag('recortes/ico-edit.svg', class: 'icon is-medium panel-icon has-text-info') %>
            </div>
          </li>
          <li>
            <div class="panel-block is-justify-content-space-between">
              <%= link_to 'Usuarios', usuarios_path,  class: 'has-text-white is-size-6' %>
              <%= inline_svg_tag('recortes/ico-users.svg', class: 'icon is-medium panel-icon has-text-info') %>
            </div>
          </li>
          <% if current_user.is_superadmin? %>
            <% if 1 == 0 %>
            DEVISE INVITABLE!!!
            <li>
              <div class="panel-block is-justify-content-space-between">
                <%= link_to 'Invitar usuario', new_user_invitation_path,  class: 'has-text-white is-size-6' %>
                <%= inline_svg_tag('recortes/ico-users.svg', class: 'icon is-medium panel-icon has-text-info') %>
              </div>
            </li>
            <% end %>
            <li>
              <div class="panel-block is-justify-content-space-between">
                <%= link_to 'Configuración general', web_configs_path, class: 'has-text-white is-size-6'%>
                <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= inline_svg_tag('recortes/ico-cogs-solid.svg', class: 'icon is-16x16') %></span>
              </div>
            </li>
          <% end %>
          <li>
            <div class="panel-block is-justify-content-space-between">
              <% if current_user.present? %>
                <%= link_to "Salir", '/logout', method: :delete, class: 'has-text-white is-size-6' %>
                <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= inline_svg_tag('recortes/ico-sign-out-solid.svg', class: 'icon is-16x16') %></span>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!--cuenta/cerrar sesion-->
    <div data-controller="dropdown" class="dropdown is-up is-justify-content-center p-3">
      <div class="dropdown-trigger">
        <button class="button has-text-white is-fullwidth sidebar__button_user" aria-haspopup="true" aria-controls="dropdown-menu7" data-action="click->dropdown#show_options">
          <span class="sidebar__letter_user"><%= current_user.email[0] %></span> <span><%= current_user.email %></span>
          <span class="icon is-small">
            <i class="fas fa-angle-up" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu pr-3" data-dropdown-target="button" id="dropdown-menu7" role="menu">
        <div class="dropdown-content is-pulled-right">
          <div class="dropdown-item">
            <div class="dropdown-content">
              <%= button_to "Cerrar Sesión", logout_path, method: :delete, class: "dropdown-item", data: {turbo: false} %>
              <%= link_to "Mi Cuenta", '#', class: "dropdown-item has-text-centered p-0" %>                      
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>