
  <aside class="sidebar" id="main-menu">
    <div class="has-background-white has-text-centered pt-2 pb-2">
      <%= link_to inline_svg_tag("icons/logo.svg", size: "50"), root_path %>              
    </div>


    <nav class="vertical" data-controller="menu">

        <ul >
          <li>
            <span class="panel-block is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line"  data-action="click->menu#set_active_menu" data-menu="home">
              <span class="panel-icon "> <%= inline_svg_tag('icons/ico-home-solid.svg', class: 'icon  has-text-info') %> </span>        
              <span class="name">Home</span>
            </span>
            <ul data-menu-target="dropdown">
              <li>
                <%= link_to home_banners_path , class: 'item panel-block is-flex is-justify-content-space-between is-align-items-start is-clickable is-hoverable has-no-bottom-line', data: {'menu-target': 'link', 'menu-item': 'banners', action: 'click->menu#set_active_menu_item'}  do %>
                  <span class="name">Home banners</span>
                  <span class="panel-icon ">
                    <%= inline_svg_tag('icons/ico-images.svg', class:'icon  has-text-info')%>
                  </span>        
                <% end %>
              </li>
              <li>
                <%= link_to abouts_path , class: 'item panel-block is-flex is-justify-content-space-between is-align-items-start is-clickable is-hoverable has-no-bottom-line', data: {'menu-target': 'link', 'menu-item': 'abouts', action: 'click->menu#set_active_menu_item'}  do %>
                  <span class="name">Quienes somos</span>
                  <span class="panel-icon ">
                    <%= inline_svg_tag('icons/ico-edit.svg', class:'icon  has-text-info')%>
                  </span>        
                <% end %>
              </li>
              <li>
                <%= link_to awards_path , class: 'item panel-block is-flex is-justify-content-space-between is-align-items-start is-clickable is-hoverable has-no-bottom-line', data: {'menu-target': 'link', 'menu-item': 'awards', action: 'click->menu#set_active_menu_item'}  do %>
                  <span class="name">Premios</span>
                  <span class="panel-icon ">
                    <%= inline_svg_tag('icons/ico-award-solid.svg', class:'icon  has-text-info')%>
                  </span>        
                <% end %>
              </li>
            </ul>
            <span class="arrow p-0">
              <span></span>
              <span></span>
            </span>
          </li>
          <% if 1 == 0 %>
            <li>
              <div class="menu-item-label panel-block is-justify-content-space-between">
                <%= link_to quotes_path do %>
                <span class="mr-5 has-text-white is-size-6">Quotes</span>
                <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= inline_svg_tag('icons/ico-comment-solid.svg', class: 'icon ') %></span>
                <% end %>
              </div>
            </li>              
          <% end %>
          <li>
            <%= link_to opinions_path , class: 'item  is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line', data: {'menu-target': 'link', 'menu-item': 'opinions', action: 'click->menu#set_active_menu_item'}  do %>
              <span class="panel-icon ">
                <%= inline_svg_tag('icons/ico-comment-solid.svg', class: 'icon  has-text-info')%>
              </span>        
              <span class="name">Opiniones</span>
            <% end %>
          </li>
          <li>
            <%= link_to albums_path , class: 'item panel-block is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line', data: {'menu-target': 'link', 'menu-item': 'galerias', action: 'click->menu#set_active_menu_item'}  do %>
              <span class="panel-icon ">
                <%= inline_svg_tag('icons/ico-images.svg', class: 'icon  has-text-info')%>
              </span>        
              <span class="name">Galerías</span>
            <% end %>
          </li>
          <li>
            <%= link_to services_path , class: 'item panel-block is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line', data: {'menu-target': 'link', 'menu-item': 'services', action: 'click->menu#set_active_menu_item'}  do %>
              <span class="panel-icon ">
                <%= inline_svg_tag('icons/ico-edit.svg', class: 'icon  has-text-info')%>
              </span>        
              <span class="name">Servicios</span>
            <% end %>
          </li>
          <li>
            <%= link_to email_contacto_path , class: 'item panel-block is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line', data: {'menu-target': 'link', 'menu-item': 'contacts', action: 'click->menu#set_active_menu_item'}  do %>
              <span class="panel-icon ">
                <%= inline_svg_tag('icons/ico-at-symbol.svg', class: 'icon  has-text-info')%>
              </span>        
              <span class="name">Email contacto</span>
            <% end %>
          </li>
          <li>
            <%= link_to usuarios_path , class: 'item panel-block is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line', data: {'menu-target': 'link', 'menu-item': 'users', action: 'click->menu#set_active_menu_item'}  do %>
              <span class="panel-icon ">
                <%= inline_svg_tag('icons/ico-users.svg', class: 'icon  has-text-info')%>
              </span>        
              <span class="name">Usuarios</span>
            <% end %>
          </li>
          <% if current_user.is_superadmin? %>
            <% if 1 == 0 %>
            DEVISE INVITABLE!!!
            <li>
              <div class="panel-block is-justify-content-space-between">
                <%= link_to 'Invitar usuario', new_user_invitation_path,  class: 'has-text-white is-size-6' %>
                <%= inline_svg_tag('icons/ico-users.svg', class: 'icon  has-text-info') %>
              </div>
            </li>
            <% end %>
            <li>
              <%= link_to web_configs_path , class: 'item panel-block is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line', data: {'menu-target': 'link', 'menu-item': 'conf', action: 'click->menu#set_active_menu_item'}  do %>
                <span class="panel-icon ">
                  <%= inline_svg_tag('icons/ico-cogs-solid.svg', class: 'icon  has-text-info')%>
                </span>        
                <span class="name">Configuración general</span>
              <% end %>
            </li>
          <% end %>
          <li>
            <% if user_signed_in? %>
              <%= link_to logout_path , class: 'item panel-block is-flex is-justify-content-flex-start is-align-items-start is-clickable is-hoverable has-no-bottom-line', data: {'menu-target': 'link', 'menu-item': 'logout', action: 'click->menu#set_active_menu_item'}  do %>
                <span class="panel-icon ">
                  <%= inline_svg_tag('icons/ico-sign-out-solid.svg', class: 'icon  has-text-info')%>
                </span>        
                <span class="name">Salir</span>
              <% end %>
            <% end %>
          </li>
        </ul>

    </nav>
    <!--cuenta/cerrar sesion-->
    <div data-controller="dropdown" class="dropdown is-up is-justify-content-center p-3">
      <div class="dropdown-trigger">
        <button class="button has-text-white is-fullwidth sidebar__button_user" aria-haspopup="true" aria-controls="dropdown-menu7" data-action="click->dropdown#show_options">
          <span class="sidebar__letter_user"><%= current_user.email[0] %></span> <span><%= current_user.email %></span>
          <span class="icon is-small">
            <i class="fas fa-angle-up" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu pr-3" data-dropdown-target="button" id="dropdown-menu7" role="menu">
        <div class="dropdown-content is-pulled-right">
          <div class="dropdown-item">
            <div class="dropdown-content">
              <%= button_to "Cerrar Sesión", logout_path, method: :delete, class: "dropdown-item", data: {turbo: false} %>
              <%= link_to "Mi Cuenta",  edit_user_registration_path(current_user  ), class: "dropdown-item has-text-centered p-0" %>                      
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>