<% if 1 == 0 %>
  
  <aside class="column is-3 aside is-placed-left is-expanded">
    <article class="panel is-info">
      <h4 class="panel-heading | subtitle is-4 | has-text-centered">
        Admin area
      </h4>
      <% if 1 == 0 %>
        <div class="panel-block">
          <span class="panel-icon has-text-info is-pulled-left">
            <div class="icon is-medium"><%= svg('ico-images.svg') %></div>
          </span>
          <%= link_to 'Fotos', photos_path, class:'column is-four-fifths' %> 
        </div>
      <% end %>
      <div class="panel-block">
        <span class="panel-icon has-text-info is-pulled-left">
          <div class="icon is-medium"><%= svg('ico-images.svg') %></div>
        </span>
        <%= link_to 'Galerías', albums_path, class:'column is-four-fifths' %>
      </div>
      <div class="panel-block">
        <span class="panel-icon has-text-info is-pulled-left">
          <div class="icon is-medium"><%= svg('ico-images.svg') %></div>
        </span>
        <%= link_to 'Home banner', home_banners_path, class:'column is-four-fifths' %>
      </div>
      <div class="panel-block">
        <%= link_to 'Premios', awards_path, class:'column is-four-fifths' %>
        <span class="panel-icon has-text-info is-pulled-left">
          <div class="icon is-medium"><%= svg('ico-award-solid.svg') %></div>
        </span>
      </div>
      <div class="panel-block">
        <%= link_to 'Servicios', services_path, class:'column is-four-fifths' %>
        <span class="panel-icon has-text-info is-pulled-left">
          <div class="icon is-medium"><%= svg('ico-edit.svg') %></div>
        </span>
      </div>
      <div class="panel-block">
        <%= link_to 'Sobre nosotros', abouts_path, class:'column is-four-fifths' %>
        <span class="panel-icon has-text-info is-pulled-left">
          <div class="icon is-medium"><%= svg('ico-address-card-regular.svg') %></div>
        </span>
      </div>
      <% if 1 == 0 %>
        <div class="panel-block">
          <%= link_to 'Contacto', contacto_path, class:'column is-four-fifths' %>
          <span class="panel-icon has-text-info is-pulled-left">
            <div class="icon is-medium"><%= svg('ico-map-marker-alt-solid.svg') %></div>
          </span>
        </div>
      <% end %>
      <div class="panel-block">
        <%= link_to 'Opiniones', opinions_path, class:'column is-four-fifths' %>
        <span class="panel-icon has-text-info is-pulled-left">
          <div class="icon is-medium"><%= svg('ico-comment-solid.svg') %></div>
        </span>
      </div>
      <div class="panel-block">
        <%= link_to 'Usuarios', users_index_path, class:'column is-four-fifths' %>
        <span class="panel-icon has-text-info is-pulled-left">
          <div class="icon is-medium"><%= svg('ico-users.svg') %></div>
        </span>
      </div>
      <% if current_user.role == 'superadmin' %>
        <div class="panel-block">
          <%= link_to 'Configuración general', web_configs_path, class:'column is-four-fifths' %>
          <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-cogs-solid.svg') %></span>
        </div>
      <% end %>
    </article>
  </aside>
<% end %>

  <aside class="aside is-placed-left is-expanded has-background-dark">
    <div class="aside-tools mt-6">
      <div class="aside-tools-label has-text-white is-size-4">
        <span><b><%= current_user.role.capitalize %></b> <%= current_user.name.capitalize %></span>
      </div>
    </div>
    <div class="menu is-menu-main">
      <p class="menu-label has-text-white is-size-6">Dashboard</p>
      <ul class="menu-list">
        <li>
          <div class="menu-item-label panel-block">
          </div>
          <a class="has-icon has-dropdown-icon">
            <span class="icon is-medium icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-home-solid.svg') %></span>
            <span class="menu-item-label  panel-block dropdown has-text-white is-size-6">Home</span>
            <% if 1== 0 %>
              <div class="dropdown-icon">
                <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-home-solid.svg') %></span>
              </div>
            <% end %>
          </a>
          
          <ul>
            <li>
              <div class="menu-item-label panel-block has-text-withe">
                <%= link_to home_banners_path do %>
                  <span class="mr-5 has-text-white is-size-6">Banners inicio</span>
                  <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-images.svg') %></span>
                <% end %>
              </div>
            </li>
            <% if 1 == 0 %>
            <li>
              <div class="menu-item-label panel-block">
                <%= link_to quotes_path do %>
                <span class="mr-5 has-text-white is-size-6">Quotes</span>
                <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-comment-solid.svg') %></span>
                <% end %>
              </div>
            </li>              
            <% end %>
            <li>
              <div class="menu-item-label panel-block">
                <%= link_to awards_path do %>
                <span class="mr-5 has-text-white is-size-6">Premios</span>
                <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-award-solid.svg') %></span>
                <% end %>
              </div>
            <li>
              <div class="menu-item-label panel-block ">
                <%= link_to opinions_path do %>
                <span class="mr-5 has-text-white is-size-6">Opiniones</span>
                <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-comment-solid.svg') %></span>
                <% end %>
              </div>
            </li>
            </li>
          </ul>
        </li>
        <li>
          <div class="menu-item-label panel-block">
            <%= link_to albums_path do %>
              <span class="mr-5 has-text-white is-size-6">Galerías</span>
              <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-images.svg') %></span>
            <% end %>
          </div>
        </li>
        <li>
          <div class="menu-item-label panel-block">
            <%= link_to services_path do %>
            <span class="mr-5 has-text-white is-size-6">Servicios</span>
              <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-edit.svg') %></span>
            <% end %>
          </div>
        </li>
        <li>
          <div class="menu-item-label panel-block">
            <%= link_to abouts_path do %>
            <span class="mr-5 has-text-white is-size-6">Sobre nosotros</span>
            <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-edit.svg') %></span>
            <% end %>
          </div>
        </li>
        <li>
          <div class="menu-item-label panel-block">
            <%= link_to users_index_path do %>
            <span class="mr-5 has-text-white is-size-6">Usuarios</span>
              <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-users.svg') %></span>
            <% end %>
          </div>
        </li>

        <li>
          <div class="menu-item-label panel-block">
            <%= link_to opinions_path do %>
            <span class="mr-5 has-text-white is-size-6">Opiniones</span>
            <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-comment-solid.svg') %></span>
            <% end %>
          </div>
        </li>
        <% if current_user.role == 'superadmin' %>
          <% if 1==0 %>
            <li>
              <div class="menu-item-label panel-block">
                <%= link_to 'Invitar usuario', new_user_invitation_path, class: 'mr-5 has-text-white is-size-6' %>
                <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-users.svg') %></span>
              </div>
            </li>
          <% end %>
          <li>
            <div class="panel-block">
              <%= link_to 'Configuración general', web_configs_path, class: 'has-text-white is-size-6'%>
              <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-cogs-solid.svg') %></span>
            </div>
          </li>
        <% end %>
        <li>
          <div class="panel-block">
            <% if current_user.present? %>
              <%= link_to "Salir", '/logout', method: :delete, class: 'has-text-white is-size-6' %>
              <span class="icon is-medium panel-icon has-text-info is-pulled-left"><%= svg('ico-sign-out-solid.svg') %></span>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </aside>