<% if @about.present? && @about.visible?%>
  <section class="container section">
    <div id="WebDev" class="content-tab" >
      <div class="container">

        <div class="column is-12">
          <figure class="is-hidden-touch has-text-centered">
            <%= link_to svg('logo570.svg'), root_path%>
          </figure>
          <% if @about.content1.present? %>
            <div class="is-flex mb-6">
              <div>
                <h3 class="title is-1 is-size-2-mobiles has-text-centered is-spaced mb-3"><%= @about.name if @about.name.present? %></h3>
                <div class="subtitle is-4 is-size-5-mobile"><%= @about.content1 %></div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="columns is-centered">
          <div class="column is-6">
            <div class="">
              <figure class="image is-5by4">
                <%= image_tag(url_for(@about.image)) if @about.image.attached? %>
              </figure>
            </div>
          </div>
          <div class="column is-6 pl-6">
            <% if @about.content2.present? %>
              <div class="is-flex mb-6">
                <div class="mr-4 has-text-primary">
                  <div class="image is-32x32">
                    <%= inline_svg_tag('icons/ico-dj.svg')%>
                  </div>
                </div>
                <div>
                  <h3 class="title is-size-4 is-size-4-mobile  is-spaced mb-3"><%= @about.title2 if @about.title2.present? %></h3>
                  <p class="subtitle is-size-4 is-size-5-mobile"><%=@about.content2 %></p>
                </div>
              </div>
            <% end %>

            <% if @about.content3.present? %>
              <div class="is-flex">
                <div class="mr-4 has-text-primary">
                  <div class="image is-32x32">
                    <%= inline_svg_tag('icons/ico-headset-outline.svg')%>
                  </div>
                </div>
                <div>
                  <h3 class="title is-size-4 is-size-4-mobile is-spaced mb-3"><%= @about.title3 if @about.title3.present? %></h3>
                  <p class="subtitle is-size-4 is-size-5-mobile"><%=@about.content3 %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>    
    </div>
  </section>
<% end %>

    