<%= render(HomeBannerComponent.new(banner: @banner_uno, count: 'uno'))%>
<!--about content 1-->
<% if @about.present? && @about.body.present? && @about.visible?%>
  <section class="section">   
    <div class="columns is-justify-content-center">
      <div class="column is-8 mb-6">
        <div>
          <h3 class="title is-1 is-size-2-mobiles has-text-centered is-spaced mb-3"><%= @about.name if @about.name.present? %></h3>
          <div class="subtitle is-4 is-size-5-mobile has-text-justified"><%= @about.body %></div>
        </div>
      </div>
    </div> 
  </section>
<% end %>
<!--about content 1-->
<% if @awards.present? %>
  <section class="hero is-medium">
    <div class="hero-body">
      <% if @awards.present? %>
        <h2 class="title is-size-2 is-size-3-mobile">
          <%= @awards.title %>
        </h2>
      <% end %>
      <div class="container subtitle is-size-4 is-size-6-mobile is-pulled-right">
        <%= @awards.body %>
      </div>
      <% if @awards.images.attached? %>
        <% @awards.images.each do |image| %>
          <figure class="image is-256x256  is-pulled-left">
            <%= image_tag url_for(image) %>
          </figure>
        <% end %>
      <% end %>      
    </div>
  </section>
<% end %>
<%= render(HomeBannerComponent.new(banner: @banner_dos, count: 'dos'))%>
<!--about content 2-->
<% if @about.present? && @about.visible?%>
  <section class="section">
    <% if @about.content_left.present? && @about.content_right.present? %>
      <div class="columns is-centered">
        <div class="column is-6">
          <div class="">
            <figure class="image is-5by4">
              <%= image_tag(url_for(@about.image)) if @about.image.attached? %>
            </figure>
          </div>
        </div>
        <div class="column is-6 pl-6">
          <% if @about.content_left.present? %>
            <div class="is-flex mb-6">
              <div class="mr-4 has-text-primary">
                <div class="image is-32x32">
                  <%= inline_svg_tag('icons/ico-dj.svg')%>
                </div>
              </div>
              <div>
                <h3 class="title is-size-4 is-size-4-mobile  is-spaced mb-3"><%= @about.title2 if @about.title2.present? %></h3>
                <p class="subtitle is-size-4 is-size-5-mobile"><%=@about.content_left %></p>
              </div>
            </div>
          <% end %>
          <% if @about.content_right.present? %>
            <div class="is-flex">
              <div class="mr-4 has-text-primary">
                <div class="image is-32x32">
                  <%= inline_svg_tag('icons/ico-headset-outline.svg')%>
                </div>
              </div>
              <div>
                <h3 class="title is-size-4 is-size-4-mobile is-spaced mb-3"><%= @about.title3 if @about.title3.present? %></h3>
                <p class="subtitle is-size-4 is-size-5-mobile"><%=@about.content_right %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
<% end %>
<!--about content 2-->
<!--opinions-->
<% if @opinions.present? %>
  <section class="hero is-medium "> 
    <h1 class="title is-2-desktop is-4-touch has-text-centered">Nuestros clientes opinan</h1>
    <div class="opinions" data-controller="swiper">
      <div class="swiper-container my-5 hero is-large" data-swiper-target="opinions">
        <div class="swiper-wrapper is-align-items-center">
          <% @opinions.order('created_at DESC').each do |opinion|%>
            <div class="swiper-slide ">
              <div class="card py-3 px-3">
                <div class="card-content">
                  <p class="mt-2 mb-4">                
                    <span class="is-size-6">
                      <%= opinion.name%>
                    </span>
                  </p>
                  <p class="  title is-4">
                  <%= link_to opinion.title, 'https://www.bodas.net/musica/la-gramola-discotecas-moviles--e15600/opiniones', target: 'blank' %>
                  </p>
                  <p class="is-size-6">
                    <%= opinion.body%>
                  </p>
                </div>
                <%= link_to 'https://www.bodas.net/musica/la-gramola-discotecas-moviles--e15600/opiniones', target: 'blank' do%>
                  <div class="icon is-large is-pulled-left mt-4 ">
                    <%=inline_svg_tag('icons/ico-bodasnet.svg')%>
                  </div>
                <% end %>
                <p class="mt-4 mb-3 has-text-right ">
                  <span class="opinions__tag ">
                    <% count = 0.0%>         
                    <% while count < opinion.ratingStar do  %>
                      <span class="icon is-small">
                        <%=inline_svg_tag('icons/ico-star-regular.svg')%> 
                      </span>
                      <% count += 1%>
                    <% end %>
                  </span>
                  <span class="tag is-success"><%= opinion.ratingStar%></span>                  
                </p>
              </div>  
            </div>
          <% end %>
        </div>
        <% if @opinions.count > 1 %>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
<!--opinions-->
<%= render(HomeBannerComponent.new(banner: @banner_tres, count: 'tres'))%>




