<!DOCTYPE html>
<html >
  <head>
    <title>
        <%= WebConfig.first.enterprise_name.present? ? WebConfig.first.enterprise_name : 'cAppweb'  %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= yield :head %>
    <!--direct uploads-->
    <%= tag.meta name: "direct-upload-url", content: rails_direct_uploads_path %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= stimulus_include_tags %>
    <!--flatpickr-->
     <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css', 'data-turbo-track': 'reload'%> 
     <%= stylesheet_link_tag 'https://npmcdn.com/flatpickr/dist/themes/dark.css', 'data-turbo-track': 'reload'%> 
     <!--slimselect-->
     <%= stylesheet_link_tag "https://unpkg.com/slim-select@1.27.0/dist/slimselect.min.css", "data-turbo-track": "reload" %>
     <!--sweetalert2-->
     <%= stylesheet_link_tag "https://unpkg.com/sweetalert2@10.15.7/dist/sweetalert2.min.css", "data-turbo-track": "reload" %>

  </head>

  <body>
    <%= render NotificationComponent.with_collection(flash.to_a) %>
    <div class="columns is-fullheight has-background-white-ter m-0 is-full-height">
      <%= render 'layouts/partials/admin_aside' if (user_signed_in? and current_user.is_admin?) %>
      <main class= "column <%= user_signed_in? ? 'main is-10 is-offset-2 p-0' : 'is-12 has-background-primary' %> is-vcentered" >
        <% if user_signed_in? %>
          <header class="header panel-heading">
            <div class="is-flex is-align-items-center">
              <button class="button mr-3 header__menu" data-controller="fire-sidebar" data-action="fire-sidebar#fire"><%= inline_svg_tag("icons/ico-menu.svg", class:"icon has-text-link") %></button>
              <span class="panel-heading subtitle is-size-6 | has-text-left"><%= render_breadcrumbs separator: '/'  %></span>           
            </div>
          </header>
        <% end %>
        <!-- cuerpo yield ruby-->
        <section class="section">
          <%= yield %>
        </section>
        <!-- fin cuerpo yield ruby-->
      </main>
    </div>          
  </body>
</html>
