<!DOCTYPE html>
<html >
  <head>
    <title> <%= WebConfig.first.enterprise_name.present? ? WebConfig.first.enterprise_name : 'cAppweb'  %> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://unpkg.com/swiper@v6.5.4/swiper-bundle.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css", "data-turbo-track": "reload"%>
    <%= yield :head %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= stimulus_include_tags %>
  </head>

  <body data-controller="burguer">
    <%= render 'layouts/partials/navbar' %>
    <% flash.each do |type, data| %>
      <%= render NotificationComponent.new(type: type, data: data) %>
    <% end %>
    
    <% unless @home %>
      <h1 class="title is-1-desktop is-4-touch has-background-primary has-text-centered has-text-white py-2 is-fullwidth">
        <%= render_breadcrumbs %>
      </h1>
    <% end %>
    
      
    <%= yield %>
    <%= render 'layouts/partials/footer' %>
  </body>
</html>
