<!DOCTYPE html>
<html >
  <head>
    <title>
      <%= WebConfig.first.enterprise_name.present? ? WebConfig.first.enterprise_name : 'cAppweb'  %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/partials/navbar' %>
    <% flash.each do |type, data| %>
      <%= render NotificationComponent.new(type: type, data: data) %>
    <% end %>
    
    <% unless @home %>
      <h1 class="title is-1 has-background-primary has-text-centered has-text-white py-2">
        <%= render_breadcrumbs %>
      </h1>
    <% end %>
    
      
    <%= yield %>
    <%= render 'layouts/partials/footer' %>
  </body>
</html>
